<p>
  {{link-to "Car list" "cars.index" }}
</p>

<h1>Car show</h1>

<p>
  <strong>Year:</strong>
  <span>{{model.year}}</span>
</p>

<p>
  <strong>Make:</strong>
  <span>{{model.make}}</span>
</p>

<p>
  <strong>Model:</strong>
  <span>{{model.model}}</span>
</p>

<p>
  <strong>Miles:</strong>
  <span>{{model.miles}}</span>
</p>

<p>
  <strong>Description:</strong>
  <span>{{model.description}}</span>
</p>

