<div class="image">
  <img src={{car.photoUrl}} alt="photo">
</div>
<div class="content">
  <a class="header">{{car.year}}</a>
  <div class="meta">
    <span>{{car.make}} {{car.make}}</span>
  </div>
  <div class="description">
    {{car.description}}
  </div>
</div>
